<div class="container mt-3 animated fadeIn">
  <div class="row">
    <div class="col-4 col-md-2">
      <img class="Circle float-right" width="100" height="100" src="./assets/img/fredd.jpg" alt="Freddy Munive">
    </div>
    <div class="col-8 col-md-10">
      <p class="Mt--1"><strong>Freddy Munive</strong></p>
      <small class="FrontEnd">FrontEnd Developer</small>
      <div class="">
        <a class="Link" href="https://www.linkedin.com/in/fmunives/" target="_blank"><i
            class="fab fa-linkedin-in mr-3 ml-3"></i></a>
        <a class="Link" href="https://twitter.com/home" target="_blank"> <i class="fab fa-twitter mr-3"></i></a>
        <a class="Link" href="mailo:munivef@gmail.com" target="blank"><i class="far fa-envelope"></i></a>
      </div>
      <p class="mt-1">Este proyecto esta Realizado con <strong>Angular | Bootstrap</strong> consumiento información de
        API Rest de
        <a class="Link" href="https://www.themoviedb.org/" target="_blank"><strong>The Movie
            DB</strong></a></p>
    </div>
  </div>
</div>
